<!DOCTYPE html>
{% load staticfiles %}
<html lang="ko">
<head>
 <title>My Little Lotto</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 <!-- <link href="//fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet"> -->
 <link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="//fonts.googleapis.com/css2?family=Krona+One" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.gstatic.com">


 <link rel="stylesheet" href="{% static 'css/lotto.css' %}"

</head>
<body>
  <div class="page-header">
    <h1>Selected Lotto Numbers
      <a href="{% url 'new_lotto' %}">
        <span class="glyphicon glyphicon-plus btn btn-default"></span>
      </a>
    </h1>
  </div>
  <div class="container lotto">
    {% for lotto in lottos %}
      <h2><a href="{% url 'detail' lottokey=lotto.pk %}">{{ lotto.name }}</a></h2>
      <p> {{ lotto.update_date }} </p>
      <p> {{ lotto.lottos | linebreaksbr }} </p>
    {% endfor %}
  </div>
</body>
</html>
